/* Estilos para Projetos vindos da API */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

#Projects {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.divProjetos {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    /* flex-direction: column; */
    min-height: 520px;
    gap: 25px;
}


#divRepos {
    display: grid;
    flex: 2;
    justify-content: center;
    justify-items: center;
    padding: 20px;
    border-radius: 15px;
    height: 50px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    min-width: 450px;
    word-break: break-all;
    overflow: hidden;
    transition: all 1s ease;
}

#TitleRepos {
    color: white;
    font-weight: bolder;
    text-shadow: #87cbff 0px 0px 2px;
    font-family: 'Montserrat', sans-serif;
    transition: all 0.5s linear;
}

#ReposDescription {
    opacity: 0%;
    text-align: center;
    transition: all 1s steps(5);
}

#link {
    display: grid;
    justify-content: center;
    align-items: center;
    position: relative;
    justify-content: center;
    border-radius: 10px;
    color: white;
    text-decoration: solid;
    border: 2px solid white;
    padding: auto;
    width: 250px;
    height: 50px;
    transition: all 0.5s linear;
}

#link:hover {
    background-color: white;
    color: black;
    font-weight: bold;
}

#divRepos:hover {
    height: 200px;
    box-shadow: white 0px 6px 40px;

    #ReposDescription {
        opacity: 100%;
    }

    #TitleRepos {
        text-shadow: #87cbff 0px 0px 15px;
    }
}
