#SobreMim {
    display: flex;
    justify-content: space-evenly;
}


.Perfil {
    display: grid;
    text-align: justify;
    margin: 20px;
    background-color: transparent;
    align-items: center;
    color: white;
    min-height: 800px;
    border-radius: 8px;
    padding: 10px;
}

.Perfil-Div {
    position: relative;
    padding: 20px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 15px;
    min-height: 500px;
    max-width: 500px;
    margin-left: 150px;
    max-height: 300px;
}


.Perfil-Div div {
    overflow: hidden;
    overflow-wrap: break-word;
    border-right: 2px solid #000;
    animation: escrever 5s steps(75, end);
}

.Foto {
    border-radius: 100%;
    width: 450px;
    animation: pulse 2s infinite ease-in-out;
}


@keyframes escrever {
    from {
        height: 0px;
    }

    to {
        height: 250px;
    }
}

@keyframes pulse {
    0%,100% {
        width: 450px;
        box-shadow: rgba(255, 255, 255, 0.3) 0px 19px 38px, rgba(255, 255, 255, 0.22) 0px 15px 12px;
    }

    50% {
        width: 470px;
        box-shadow: rgba(255, 255, 255, 0.5) 0px 25px 50px, rgba(255, 255, 255, 0.3) 0px 20px 20px;
    }
}


@media screen and (max-width: 1000px) {
    .Foto{
        max-width: 200px;
    }

    .Perfil-Div {
        padding: 0;
        margin-left: 20px;
        margin-right: 20px;
        top: 30px;
    }
}


@media screen and (max-width: 700px) {
    #SobreMim {
        display: flex;
        justify-content: space-evenly;
    }

    .Perfil-Div {
        position: relative;
        padding: 0;
        font-family: 'Courier New', Courier, monospace;
        border-radius: 15px;
        min-height: 500px;
        max-width: 500px;
        margin-left: 0;
        max-height: 300px;
    }

    .Foto {
        display: none;
    }
}